body {
  #BlocPage {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    background-color: $color-secondary;
    @include respond-to(handhelds);
    @include respond-to(medium-screens);
    @include respond-to(wide-screens);
  }

  ul {
    list-style-type: none;
  }

  a {
    text-decoration: none;
    color: black;
  }
}
